@model IEnumerable<TechMarket.BLL.DTO.CategoryDTO>

@{
    ViewData["Title"] = "Categories manager";
}

@section SidePanel {
    @{await Html.RenderPartialAsync("_AdminSidePanel"); }
}

@Html.ActionLink("Create category", "CreateCategory", new { }, new { @class = "viewDialog", data_dialog_title = "Create category" })
<div id="createModal">

</div>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <form asp-action="DeleteCategory" method="post">
                    <a asp-action="EditCategory" class="btn btn-primary btn-sm"
                       asp-route-id="@item.Id">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}

<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    buttons: {
                        "Create": function () {
                            //var name = $("#name").val();
                            //var model = JSON.stringify({Name: name });
                            $.ajax({
                                url: "@Url.Action("CreateCategory", "Admin")",
                                type: "POST",
                                //contentType: "application/json",
                                data: $('form').serialize(),
                                //data: model,
                                datatype: "json",
                                beforeSend: function (xhr) {//<--- This is important
                                    xhr.setRequestHeader("RequestVerificationToken",
                                        $('input:hidden[name="__RequestVerificationToken"]').val());
                                },
                                success: function (result) {
                                    $("#dialogContent").html(result);
                                }
                            });
                        }
                    }
                });
        });
    });
</script>


