@model IEnumerable<OrderDTO>

@{
    ViewData["Title"] = "Orders manager";
}

@section SidePanel {
    @{await Html.RenderPartialAsync("_AdminSidePanel"); }
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
        <tr>
            <td>@order.Name</td>
            <td>@order.Country</td>
            <td>@order.City</td>
            <td>@order.Address</td>
            <td>
                <form asp-action="MarkShipped" method="post">
                    <input type="hidden" name="id" value="@order.Id" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        Ship
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
