@model ShoppingCartVM
@{
    ViewData["Title"] = "Shopping cart";
}

    <div class="container-fluid">
        <h1>Shopping Cart</h1>
        @foreach (var item in Model.ShoppingCartItems)
        {
            <div class="row border-bottom border-top" id="@item.Id">
                <div class="col-6 col-sm-5 col-md-3">
                    <img src="@("~/product_images/" + item.ImagePath)" asp-append-version="true" class="img-fluid previewImg" />
                </div>
                <div class="col-5 col-sm-6 col-md-8">
                    <div class="row">
                        <h3>@item.Name</h3>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col">
                            <p>Quantity: @item.Quantity</p>
                        </div>
                        <div class="col">
                            <p>Price:@item.FullPrice</p>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <form asp-action="DeleteFromCart" asp-controller="ShoppingCart" asp-antiforgery="true">
                        <input name="cartItemId" type="hidden" value="@item.Id" />
                        <button type="submit" class="btn bg-white"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        }
        @if (Model.ShoppingCartItems.Count() > 0)
        {
            <div class="d-flex justify-content-end">
                <p>Total price: @Model.TotalPrice</p>
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">
                    Continue to checkout
                </a>
            </div>
        } else
        {
            <h3>There are no items in cart.</h3>
        }

    </div>



